.game {
  width: calc(3 * 100px);
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.status {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3px;
  /* justify-content: center; */
  /* background-color: red; */
}

.cell {
  height: 100px;
  width: 100px;
  font-size: 36px;
  border: 2px solid #cccccc;
  cursor: pointer;
  transition: background-color 0.3 ease-in-out;
}

.cell:hover {
  background-color: #f0f0f0;
}

.reset-btn {
  padding: 5px 10px;
}
